    <div  ng-controller="BookOneCtrl">
nttttttcn
        <p ng-model="book">Карточка книги <strong>{{book.name | uppercase}}</strong></p>
        
        <ul>
            <li><strong>Автор:</strong> {{book.author}}</li>
            <li><strong>Жанр книги:</strong> {{book.genre}}</li>
            <li><strong>Страниц:</strong> {{book.pages}}</li>
            <li><strong>Цена: {{book.price}}</strong></li>
            </li>
        </ul>


    </div>
