<div>   
        Найти:
        <input ng-model="query"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="genre">Жанр</option>
            <option value="author">Автор</option>
        </select>

        <ul>
            <li ng-repeat="book in books | filter:query | orderBy:orderProperty">
                <h3><a href="#/one-book/">{{book.name | uppercase}}</a></h3>
                <p><strong>Автор:</strong> {{book.author}}</p>
                <p><strong>Жанр книги:</strong> {{book.genre}}</p>
                <p><strong>Страниц:</strong> {{book.pages}}</p>
                <p><strong>Цена: {{book.price}}</strong></p>
            </li>
        </ul>

        <p ng-show="query">Выведены книги, содержащие
            {{query}}
        </p>
    </div>