<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.js"></script>
    </head>

    <body ng-controller="BookOneCtrl">

        <p ng-model="book">Карточка книги <strong>{{book.name | uppercase}}</strong></p>
        
        <ul>
            <li><strong>Автор:</strong> {{book.author}}</li>
            <li><strong>Жанр книги:</strong> {{book.genre}}</li>
            <li><strong>Страниц:</strong> {{book.pages}}</li>
            <li><strong>Цена: {{book.price}}</strong></li>
            </li>
        </ul>

        

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

    </body>

</html>
