<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти:
        <input ng-model="query"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
            <option value="genre">Жанр</option>
            <option value="author">Автор</option>
        </select>

        <ul>
            <li ng-repeat="book in books | filter:query | orderBy:orderProperty">
                <h3><a href="step6-1.html"->{{book.name | uppercase}}</a></h3>
                <p><strong>Автор:</strong> {{book.author}}</p>
                <p><strong>Жанр книги:</strong> {{book.genre}}</p>
                <p><strong>Страниц:</strong> {{book.pages}}</p>
                <p><strong>Цена: {{book.price}}</strong></p>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

    </body>

</html>
